openapi: 3.1.0
info:
  title: HAMVN API documentation
  version: 1.1.0
  description: |
    REST API for external QSO logbook access and Vietnam callsign directory lookup.
    Create API tokens in the portal under **Account → Security → API tokens**.

    Interactive documentation: `/docs`

    ## Scopes

    | Scope | Access |
    |-------|--------|
    | `qso:read` | List and read your QSOs |
    | `qso:write` | Create, update, delete your QSOs |
    | `callsign:read` | Search and read the callsign license directory (**Setup Admin / Administrator only**) |
    | `callsign:write` | Manage callsign directory records (**Setup Admin / Administrator only**) |

    New tokens get `qso:read` and `qso:write` by default. Callsign scopes are included only when
    the token owner is Setup Admin or Administrator. Editors, readers, and guests cannot obtain
    or use callsign API access. Callsign endpoints also re-check the owner's current role at
    request time (403 if demoted). Directory mutations via REST require `callsign:write` when
    those endpoints are used; portal admin at `/admin/callsigns` remains available with the same
    role gate.

    ## Rate limiting

    Limits apply to `/v1/*` only (not `/health` or `/docs`). Uses Valkey fixed windows.

    | Layer | Default | Window | Notes |
    |-------|---------|--------|-------|
    | Per client IP | 30 requests | 1 min | All `/v1/*` traffic, including failed auth |
    | Per API token | 120 requests | 1 min | Authenticated reads and non-write methods |
    | Per API token (writes) | 30 requests | 1 min | `POST`, `PATCH`, `DELETE` on QSOs |

    Configure token limits with `API_RATE_LIMIT`, `API_RATE_LIMIT_WRITE`, and
    `API_RATE_LIMIT_WINDOW`. Exceeding a limit returns **429** with
    `{ "error": "Too many requests" }`.

    Requires `VALKEY_URL`. If Valkey is down: read/IP limits fail-open; write limits fail-closed.

servers:
  - url: https://api.hamvn.com
    description: Production
  - url: http://localhost:3100
    description: Local development

tags:
  - name: Health
  - name: QSOs
  - name: Callsigns
    description: |
      Vietnam callsign license directory (read-only). Requires `callsign:read` and a
      Setup Admin or Administrator token owner.

security:
  - bearerAuth: []

paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      description: Unauthenticated liveness probe (MongoDB ping).
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: MongoDB unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/qsos:
    get:
      tags: [QSOs]
      summary: List QSOs
      description: |
        Paginated list of QSOs for the token owner. Always paginated (max 1000 per page).
        Unknown or duplicate query parameters are rejected.
      operationId: listQsos
      security:
        - bearerAuth: [qso:read]
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/q"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/dir"
        - $ref: "#/components/parameters/fromDate"
        - $ref: "#/components/parameters/toDate"
        - $ref: "#/components/parameters/workedCallsign"
        - $ref: "#/components/parameters/band"
        - $ref: "#/components/parameters/mode"
        - $ref: "#/components/parameters/source"
        - $ref: "#/components/parameters/grid"
        - $ref: "#/components/parameters/qso_sent"
        - $ref: "#/components/parameters/qso_confirmed"
      responses:
        "200":
          description: Paginated QSO list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QsoPageResult"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      tags: [QSOs]
      summary: Create QSO
      description: |
        Creates a QSO with `source: api`. Your account must have a callsign set.
        No confirmation emails are sent from the API path.
      operationId: createQso
      security:
        - bearerAuth: [qso:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QsoInput"
      responses:
        "201":
          description: QSO created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QsoMutationResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/qsos/{id}:
    parameters:
      - $ref: "#/components/parameters/qsoId"

    get:
      tags: [QSOs]
      summary: Get QSO
      operationId: getQso
      security:
        - bearerAuth: [qso:read]
      responses:
        "200":
          description: QSO details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QsoSingleResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"

    patch:
      tags: [QSOs]
      summary: Update QSO
      description: Full body required (same fields as create). No confirmation emails.
      operationId: updateQso
      security:
        - bearerAuth: [qso:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QsoInput"
      responses:
        "200":
          description: QSO updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QsoMutationResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      tags: [QSOs]
      summary: Delete QSO
      operationId: deleteQso
      security:
        - bearerAuth: [qso:write]
      responses:
        "200":
          description: QSO deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/callsigns:
    get:
      tags: [Callsigns]
      summary: Search callsigns
      description: |
        Search the Vietnam callsign license directory by callsign prefix, operator name,
        or permit number. Same matching rules as the public portal directory.
        Empty `q` returns an empty result set (not an error).

        **Permission:** token must include `callsign:read` and the owner must be
        Setup Admin or Administrator (editors/readers/guests receive 403).
      operationId: searchCallsigns
      security:
        - bearerAuth: [callsign:read]
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
            maxLength: 80
          description: |
            Search query. Matches callsign prefix (normalized uppercase), folded operator
            names, and permit digits (leading zeros stripped).
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: 1-based page index
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
          description: Items per page (max 100)
      responses:
        "200":
          description: Paginated callsign search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallsignSearchResult"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/callsigns/stats:
    get:
      tags: [Callsigns]
      summary: Callsign directory stats
      description: Aggregate counts for the public callsign directory. Same permission rules as search.
      operationId: getCallsignStats
      security:
        - bearerAuth: [callsign:read]
      responses:
        "200":
          description: Directory statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallsignStatsResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/callsigns/{sign}:
    parameters:
      - $ref: "#/components/parameters/callsignSign"
    get:
      tags: [Callsigns]
      summary: Get callsign detail
      description: |
        Returns a callsign and its license history (newest first), matching the public
        portal detail page. Same permission rules as search.
      operationId: getCallsign
      security:
        - bearerAuth: [callsign:read]
      responses:
        "200":
          description: Callsign detail with licenses
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallsignDetailResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: varc_
      description: |
        API token from the portal (Account → Security). Format: `Bearer varc_…`
        Required scopes depend on the operation (`qso:read`, `qso:write`, `callsign:read`, `callsign:write`).

  parameters:
    callsignSign:
      name: sign
      in: path
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 20
      description: Callsign (case-insensitive; non-alphanumeric characters stripped)
    qsoId:
      name: id
      in: path
      required: true
      schema:
        type: string
        pattern: "^[a-f0-9]{24}$"
      description: MongoDB ObjectId of the QSO
    page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      description: 1-based page index
    pageSize:
      name: pageSize
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 1000
      description: Items per page (max 1000)
    q:
      name: q
      in: query
      schema:
        type: string
        maxLength: 80
      description: Search callsign, mode, band, grid, notes
    sort:
      name: sort
      in: query
      schema:
        type: string
        enum: [qsoAt, workedCallsign, band, mode, grid]
        default: qsoAt
    dir:
      name: dir
      in: query
      schema:
        type: string
        enum: [asc, desc]
        default: desc
    fromDate:
      name: fromDate
      in: query
      schema:
        type: string
      description: YYYY-MM-DD or RFC3339 (year 1900–2100)
    toDate:
      name: toDate
      in: query
      schema:
        type: string
      description: YYYY-MM-DD or RFC3339; must be >= fromDate
    workedCallsign:
      name: workedCallsign
      in: query
      schema:
        type: string
      description: Filter by worked callsign (normalized uppercase)
    band:
      name: band
      in: query
      schema:
        $ref: "#/components/schemas/QsoBand"
    mode:
      name: mode
      in: query
      schema:
        type: string
        maxLength: 32
    source:
      name: source
      in: query
      schema:
        $ref: "#/components/schemas/QsoSource"
    grid:
      name: grid
      in: query
      schema:
        type: string
        minLength: 4
        maxLength: 12
      description: Maidenhead locator (even length)
    qso_sent:
      name: qso_sent
      in: query
      schema:
        type: boolean
    qso_confirmed:
      name: qso_confirmed
      in: query
      schema:
        type: boolean

  responses:
    Unauthorized:
      description: Missing or invalid Bearer token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Token lacks required scope
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found (QSO not owned by token user, or unknown callsign)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ValidationError:
      description: Invalid request parameters or body
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidationErrorResponse"
    TooManyRequests:
      description: |
        Rate limit exceeded. Default limits (per 1-minute window): 30 requests per IP on
        `/v1/*`, 120 authenticated requests per token, 30 write requests per token
        (`POST`/`PATCH`/`DELETE`). Response body: `{ "error": "Too many requests" }`.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: Too many requests
    InternalError:
      description: Server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    UnsupportedMediaType:
      description: Content-Type must be application/json
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    HealthResponse:
      type: object
      required: [ok]
      properties:
        ok:
          type: boolean
          example: true

    OkResponse:
      type: object
      required: [ok]
      properties:
        ok:
          type: boolean
          example: true

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
          example: Unauthorized

    ValidationErrorResponse:
      type: object
      required: [ok, error]
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: string
          example: Invalid band

    QsoBand:
      type: string
      enum:
        - 160m
        - 80m
        - 60m
        - 40m
        - 30m
        - 20m
        - 17m
        - 15m
        - 12m
        - 10m
        - 6m
        - 2m
        - 70cm
        - 23cm
        - other

    QsoSource:
      type: string
      enum: [portal, api, qrz, eqsl, adif]

    QsoInput:
      type: object
      required: [workedCallsign, qsoAt, band, freqMhz, mode, grid]
      properties:
        workedCallsign:
          type: string
          minLength: 3
          maxLength: 15
          example: XV1ABC
        qsoAt:
          type: string
          format: date-time
          example: "2026-08-22T10:00:00.000Z"
        band:
          $ref: "#/components/schemas/QsoBand"
        freqMhz:
          type: number
          exclusiveMinimum: 0
          example: 14.074
        mode:
          type: string
          maxLength: 32
          example: FT8
        rstSent:
          type: string
          maxLength: 16
          default: "59"
        rstRcvd:
          type: string
          maxLength: 16
          default: "59"
        qso_sent:
          type: boolean
          default: false
        grid:
          type: string
          minLength: 4
          maxLength: 12
          example: OK30
        notes:
          type: string
          maxLength: 2000

    QsoListItem:
      type: object
      properties:
        id:
          type: string
        workedCallsign:
          type: string
        qsoAt:
          type: string
          format: date-time
        band:
          $ref: "#/components/schemas/QsoBand"
        freqMhz:
          type: number
          nullable: true
        mode:
          type: string
        rstSent:
          type: string
        rstRcvd:
          type: string
        qso_sent:
          type: boolean
        qso_confirmed:
          type: boolean
        source:
          $ref: "#/components/schemas/QsoSource"
        grid:
          type: string
        notes:
          type: string

    Pagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
          format: int64
        totalPages:
          type: integer
        hasNext:
          type: boolean
        hasPrev:
          type: boolean

    AppliedFilters:
      type: object
      properties:
        search:
          type: string
        fromDate:
          type: string
        toDate:
          type: string
        band:
          $ref: "#/components/schemas/QsoBand"
        mode:
          type: string
        workedCallsign:
          type: string
        source:
          $ref: "#/components/schemas/QsoSource"
        grid:
          type: string
        qso_sent:
          type: boolean
        qso_confirmed:
          type: boolean

    QsoPageResult:
      type: object
      properties:
        ok:
          type: boolean
        items:
          type: array
          items:
            $ref: "#/components/schemas/QsoListItem"
        pagination:
          $ref: "#/components/schemas/Pagination"
        filters:
          $ref: "#/components/schemas/AppliedFilters"
        sortKey:
          type: string
        sortDir:
          type: string
          enum: [asc, desc]

    QsoSingleResponse:
      type: object
      properties:
        ok:
          type: boolean
        qso:
          $ref: "#/components/schemas/QsoListItem"

    QsoMutationResponse:
      type: object
      properties:
        ok:
          type: boolean
        qso:
          $ref: "#/components/schemas/QsoListItem"

    CallsignStatus:
      type: string
      enum: [valid, expired, unknown]

    CallsignPrefixFamily:
      type: string
      enum: [XV, 3W, other]

    CallsignListItem:
      type: object
      properties:
        sign:
          type: string
          example: XV1A
        operatorName:
          type: string
        permitRaw:
          type: string
        issuedAt:
          type: string
          format: date-time
          nullable: true
        expiresAt:
          type: string
          format: date-time
          nullable: true
        status:
          $ref: "#/components/schemas/CallsignStatus"
        eventCount:
          type: integer
        prefixFamily:
          $ref: "#/components/schemas/CallsignPrefixFamily"
        areaDigit:
          type: string
          nullable: true
          example: "1"

    CallsignSearchResult:
      type: object
      properties:
        ok:
          type: boolean
        query:
          type: string
        items:
          type: array
          items:
            $ref: "#/components/schemas/CallsignListItem"
        pagination:
          $ref: "#/components/schemas/Pagination"

    CallsignLicenseItem:
      type: object
      properties:
        stt:
          type: integer
        operatorName:
          type: string
        callsignRaw:
          type: string
        callsigns:
          type: array
          items:
            type: string
        permitRaw:
          type: string
        permitType:
          type: string
          enum: [GP, GH, VARC, unknown, missing]
        issuedAt:
          type: string
          format: date-time
          nullable: true
        expiresAt:
          type: string
          format: date-time
          nullable: true
        status:
          $ref: "#/components/schemas/CallsignStatus"
        notes:
          type: string
        flags:
          type: array
          items:
            type: string

    CallsignDetail:
      type: object
      properties:
        sign:
          type: string
        prefixFamily:
          $ref: "#/components/schemas/CallsignPrefixFamily"
        areaDigit:
          type: string
          nullable: true
        operatorName:
          type: string
        eventCount:
          type: integer
        latestStatus:
          $ref: "#/components/schemas/CallsignStatus"
        licenses:
          type: array
          items:
            $ref: "#/components/schemas/CallsignLicenseItem"

    CallsignDetailResult:
      type: object
      properties:
        ok:
          type: boolean
        callsign:
          $ref: "#/components/schemas/CallsignDetail"

    CallsignStats:
      type: object
      properties:
        callsigns:
          type: integer
          format: int64
        operators:
          type: integer
        events:
          type: integer
          format: int64
        expired:
          type: integer
          format: int64

    CallsignStatsResult:
      type: object
      properties:
        ok:
          type: boolean
        stats:
          $ref: "#/components/schemas/CallsignStats"
